@page "/Tools/PeriodCalculator"
@using LoanHelper.Models

<style>
    .card {
        width: 30%;
        background: #1a1a30;
    }
    
    .card * {
        color: #ffffff !important;
    }
    
    .card * input, .card * button {
        background: #292B33;
    }
    
    @* Overwrite AntBlazor style for arrows on InputNumber *@
    .ant-input-number-handler {
        background: #292B33;
    }
</style>

<h3 style="color: #ffffff">Period Calculator</h3>

<Card Bordered="true" Class="card">
    <Form Model="@_loan" OnFinish="_loan.CalculatePeriods">
        <FormItem Label="Loan Value">
            <AntDesign.InputNumber @bind-Value="@context.PrincipalValue" Min="0" Step="1000" Formatter="@(value => value.ToString("C"))" Style="width: 50%"/>
        </FormItem>
        <FormItem Label="Interest Rate">
            <RadioGroup TValue="Loan.InterestFrequency" @bind-Value="@context.Frequency" OnChange="@_loan.ChangeInterestType">
                <Radio Value="Loan.InterestFrequency.Annually">Annually</Radio>
                <Radio Value="Loan.InterestFrequency.Monthly">Monthly</Radio>
            </RadioGroup>
            <AntDesign.InputNumber @bind-Value="@_loan.InterestRate" Step="1" Min="0" Formatter="@(value => value.ToString("N"))" Style="width: 50%"/>%
        </FormItem>
        <FormItem Label="Payment Amount">
            <AntDesign.InputNumber @bind-Value="@_loan.PaymentAmount" Step="1" Min="0" Formatter="@(value => value.ToString("C"))" Style="width: 50%"/>
        </FormItem>
        <FormItem>
            <Button HtmlType="submit">Calculate</Button>
        </FormItem>
    </Form>
</Card>

@if (_loan.NumberOfPeriods > 0)
{
    <Card Bordered="true" Class="card">
        <label>Number of Periods:</label>
        @_loan.NumberOfPeriods
    </Card>
}